*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    height: 120px;
    background-color: #ffbb00;
}

.cabecalho-menu ul{
    display: flex;
    list-style-type: none;
    gap: 30px
}

.cabecalho-menu a{
    text-decoration: none;
    font-size: 18px;
    color: #462700;
}

.principal{
    display: flex;
    min-height: 70vh;
    background-color: #ffbb00;
}

.principal-conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    color: #462700;
    letter-spacing: 5px;    
}

.principal-conteudo h1{
    font-size: 180px;
}

.principal-conteudo h2{
    font-size: 80px;
}

.principal-imagem{
    width: 50%;
    display: flex;
    align-items: center;
    
}

.imagem-burg{
    position: relative;
}

.imagem-preco{
    position: absolute;
    top: 400px;
    left: 6px;
}

.imagem-burg img{
    height: 550px;
}

.imagem-preco img{
    height: 200px;
}

.choose-enjoy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #462700;
}

.always{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 40px;
    color: #462700;
    background-color: #ffbb00;
}

.always h3{
    letter-spacing: 1px;
}

.choose-enjoy-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choose-enjoy h2{
    font-size: 50px;
}

.container-cards{
    display: flex;
    gap:50px
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 500px;
    gap: 10px;
}

.card figure{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h3{
    font-size: 30px;
}

.card p{
    text-align: center;
}

.card a{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    text-decoration: none;
    font-size: 20px;  
    letter-spacing: 2px;
    background: rgb(245, 0, 0);
    font-weight: bold;
    color: white;
}

.secao-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
}

.titulo-formulario{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: #462700;
}

.titulo-formulario h3{
    font-size: 26px;
}

.titulo-formulario h2{
    font-size: 50px;
    letter-spacing: 3PX;
}

.formulario{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 300px;
    gap: 10px;
    
}

.formulario input{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #ffbb00;

}

.formulario input::placeholder{
    padding-left: 10px;
}

#find-a-table{
    background-color: rgb(245, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.rodape{
    background-image: url(../img/rodape/fundo.png);
    background-size: cover;
    display: flex;
    width: 100%;
    height: 600px;
    
}

.informacoes-rodape{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sociais-rodape{
    width: 50%;
}

.imagem-rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100%;
    height: 50%;
    gap: 20px;
    padding: 50px;
}

.imagem-rodape img{
    height: 100px;
    padding-left: 100px;
}

.imagem-rodape p{
    padding-left: 100px;
}

.direitos-reservados{
    height: 50%;
    display: flex;
    flex-direction: column-reverse;
    color: white;
    padding: 50px;
}

.direitos-reservados h4{
    padding-left: 100px;
}

.rodape-local-email{
    width: 100%;
    height: 75%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}   

.rodape-local{
    display: flex;
    align-items: center;
    margin-left: 75px;
    gap:15px;
}

.rodape-email{
    display: flex;
    align-items: center;
    gap: 15px;
}

.redes-sociais{
    width: 100%;
    height:25%;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    padding: 30px;
    gap: 10px;
}

.redes-sociais figure{
    
}